
@media (max-width: 961px) {
.about {
    margin-bottom: 120px;
    }
.about__title {
    margin-bottom: 30px;
    }
.about__text {
    max-width: 690px;
    font-weight: 400;
    font-size: 35px;
    line-height: normal;
}}
@media (max-width: 576px) {
.about {
    margin-bottom: 80px;
    }
.about__title {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
    }
.about__text {
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.66px;
    }
.about__btn {
    height: 51px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    }}
