.footer {
    padding: 50px 0 30px;
    background-color: #121212;
    width: 100%;
}
.footer__inner{
    font-size: 18px;
    letter-spacing: -0.54px;
    align-items: center;
}
.footer__nav {
    padding-bottom: 87px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: center;
    list-style-type: none;
    box-sizing: border-box;
    line-height: normal;
}
.footer__link {
    padding: 10px 23px;
    display: block;
    color: #FFF;
    text-decoration: none;
    transition: all 0.7s;
}
.footer__link:hover {
    opacity: 50%;
}
.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom__title {
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    opacity: 0.5;
    text-decoration: none;
    color: #FFF ;
}
@media (max-width: 961px) {
.footer__menu li {
    padding: 10px 30px;
}}
@media (max-width: 575px) {
.footer__link {
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.36px;
}
.footer {
    padding-top: 20px;
    padding-bottom: 26px;
}
.footer__nav {
    padding-bottom: 31px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.36px;
}
.bottom__title {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.39px;
}
}
