.gallery {
    position: relative;
}
.gallery__container {
    margin: 0 auto;
}
.gallery__slide {
    position: relative;
    height: 717px;
    top: 0;
    left: 0;
    opacity: 0;
}
.gallery__slide_active {
    opacity: 1;
}
.gallery__box {
    height: 100%;
}
.box__red {
    background-color: red;
}
.box__blue {
    background-color: blue;
}
.box__yellow {
    background-color: yellow;
}
.box__green {
    background-color: green;
}
.box__img {
    object-fit: contain;
}
.gallery__title {
    position: absolute;
    top: 60px;
    left: 15px;
    z-index: 1;
    padding-right: 15px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.66px;
    text-transform: uppercase;
    color: #FFF;
}
.gallery__text {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 60px;
    max-width: 443px;
    line-height: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    color: #FFF;
}
.gallery__controls {
    padding-left: 15px;
    position: absolute;
    bottom: 20%;
}
@media (min-width: 1180px) {
.gallery__title {
    padding-left: 120px;
    padding-right: 120px;}
.gallery__text {
    padding-left: 120px;
    padding-right: 120px;} 
.gallery__controls {
    padding-left: 120px;}
}
@media (max-width: 961px) {
.gallery__slide {
    height: 536px;
}
.gallery__title {
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
    text-transform: uppercase;
}
.gallery__controls {
    padding-left: 15px;
    bottom: 30%;
}
.gallery__text {
    padding-left: 15px;
    padding-right: 15px;
    bottom: 80px;
    font-size: 25px;
    letter-spacing: -0.75px;
}
}
@media (max-width: 576px) {
.gallery__slide {
    height: 408px;
}
.gallery__slide {
    width: 50% 50%;
}
.gallery__title {
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.42px;
    text-transform: uppercase;
}
.gallery__controls {
    bottom: 30%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.gallery__text {
    bottom: 60px;
    width: 287px;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.57px;
}}