.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.05s ease;
}
.body_fixed {
    overflow: fixed;
    overflow: hidden;
}
.popup_open {
    opacity: 1;
    visibility: visible;
}
.popup__content {
    display: block;
    z-index: 100;
    padding-left: 55px;
    padding-top: 94px;
    padding-right: 79px;
    padding-bottom: 86px;
    position: relative;
    width: 643px;
    max-height: 100%;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: #fff;
}
.popup__close-btn {
    background: url('../resources/ic_popup-close.png');
    position: absolute;
    top: 32px;
    right: 44px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.popup__title {
    padding-bottom: 4px;
    text-align: center;
    line-height: normal;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    color: #000;
}
.popup__description {
    padding-bottom: 66px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
}
.popup__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.popup__input:nth-child(3) {
    gap: 80px;
}
.popup__input {
    box-sizing: border-box;
    display: block;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: -0.75px;
    color: #000;
    border: none;
    border-bottom: 1px solid #000;
}
.popup__input:focus {
    outline: none;
}
.popup__input::placeholder {
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.75px;
    font-size: 25px;
    color: #000;
    opacity: 0.5;
}
.popup__form-btn {
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #AD1818;
    background-color: #AD1818;
}
@media (max-width: 961px) {
    .popup__input {
    width: 100%;
}}
@media (max-width: 576px) {
    .popup__content {
        margin-left: 7px;
        margin-right: 7px;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 16px;
        padding-right: 24px;
    }
    .popup__title {
        font-size: 25px;
        letter-spacing: -0.75px;
    }
    .popup__description {
        padding-bottom: 50px;
        margin: 0 auto;
        width: 209px;
        align-items: center;
        font-size: 14px;
        letter-spacing: -0.42px;
    }
    .popup__input::placeholder {
        font-size: 18px;
        line-height: normal;
        letter-spacing: -0.54px;
    }
    .popup__close-btn {
        top: 29px;
        right: 40px;
        width: 30px;
        height: 30px;
        background-size: 100%;
}}