html {
    scroll-behavior: smooth;
}
body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    line-height: 60px;
    color: #121212;
}
/*+ это меню навигации*/
.header__logo {
   width: 127px;
   height: 22px;
}
.header__nav {
    margin-bottom: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__menu {
    font-size: 18px;
    letter-spacing: -0.54px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.header__wrap {
    display: flex;
}

.header__menu {
    display: inline-block;
    color: #121212;
}
.header__menu a {
    margin-left: 60px;
    text-decoration: none;
    transition: all .07s;
    color: #121212;
}
.header__menu a:hover {
opacity: 50%;
text-decoration: underline;
}
/*+ 1 блок*/
.hero {
    margin-bottom: 112px;

}
.hero__title {
    padding-bottom: 30px;
    max-width: 956px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.8px;
    color: #121212;
}
.hero__wrapper {
    position: relative;
    max-height: 500px;
}
.hero__text { 
    position: absolute;
    z-index: 1;
    left: 37px;
    max-width: 430px;
    bottom: 40px;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    color: rgb(255, 255, 255);
}
.hero__img {
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 30%;
}
/*+ 2 мини блок-карточка*/
.about__container {
    max-width: 1048px;
}
.about__title {
    line-height: normal;
    margin-bottom: 30px;
}
.about__text {
    margin-bottom: 30px;
    max-width: 1048px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    color: #121212;
}
.about__btn {
    max-width: 250px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: -0.6px;
    border-radius: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #AD1818;
    color: #FFFFFF;
    background-color: #AD1818;
}
.about {
    margin-bottom: 150px;
}
/*+Блок 3 - Список проектов*/
.project {
    margin-bottom: 150px;
}
.project__title {
    margin-bottom: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    color: #121212;
}
.project__container{
    margin-bottom: 30px;
    margin: 0 auto;
}
.project__text {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    color: #121212;
}
.project__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 450px;
}
.project__link {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
    color: #AD1818;
}
.project__item {
    margin-bottom: 90px;
}
.project__btn {
    width: 100%;
    max-height: 153px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150px;
    letter-spacing: -0.9px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #AD1818;
    color: #AD1818;
    background-color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}
.project__btn:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}
/*+Блок 4 - услуги*/
.service {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #121212;
}
.service__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 11px;
}
.service__title {
    margin-bottom: 34px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    color: #FFF;
}
.service__item {
    display: inline-block;
    position: relative;
    padding-bottom: 106px;
}
.service__item:nth-last-child(1){
    margin-bottom: 0px;
}
.service__price {
    position: absolute;
    padding: 7px 26px 6px 26px;
    top: 30px;
    left: 30px;
    font-family: 'Manrope' , sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.66px;
    color: #FFF;
    border: 1px solid #AD1818;
    background-color: #AD1818;
    border-radius: 5px;
}
.service__img {
    z-index: 1;
    width: 100%;
    object-fit: cover;
   object-position: 50% 50%;
    height: 389px;
}
.service__text {
    line-height: normal;
    max-width: 344px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.9px;
    color: #FFF;
}
.service__btn {
    width: 100%;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150px;
    letter-spacing: -0.9px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #AD1818;
    color: #FFFFFF;
    background-color: #AD1818;
    border-radius: 5px;
    cursor: pointer;
}
.service__btn:hover {
    color: #AD1818;
    background-color: #FFFFFF;
}
.reviews {
    display: block;
    padding-top: 150px;
    padding-bottom: 157px;
}
.reviews__title {
    line-height: normal;
}
.reviews__container {
    display: flex;
    gap: 50px 50px;
    flex-wrap: wrap;
}
.reviews__item {
    flex: 1 1 33.333%;
    display: inline-block;
}
.reviews__item:nth-last-child(1) {
    flex: none;
    width: 70%;
}
.reviews__title {
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    color: #121212;
}
.reviews__name {
    padding-bottom: 14px;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -1.35px; 
    color: #000;
}
.reviews__review {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.66px;
    color: #000;
    font-style: normal;
    line-height: normal;
}
.ex-project {
    background-image: url('../resources/Project-example.png');
    background-size: cover;
    background-size: no-repeat;
    background-position: 50%, 50%;
    max-height: 717px;
    margin: 0 auto;
}
.ex-project__container {
    position: relative;
    height: 717px;
}
.ex-project__naming {
   margin: 0 auto;
    padding-left:35px;
    padding-top: 80px;
    font-size: 22px;
    line-height: normal;
    font-weight: 400;
    letter-spacing: -0.66px;
    color: #FFF;
}
.ex-project__text { 
    position: absolute;
    z-index: 1;
    bottom: 60px;
    max-width: 430px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    color: #FFF;
}
.gallery__slides {
    height: 717px
}
.gallery__slide {
    height: 100%;
    width: 100%;
    display: none;
}
.gallery__slide_active {
    display: block;
}
.contacts {
    padding-top: 150px;
    padding-bottom: 150px;
}
.contacts__title {
    margin-bottom: 74px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}
.contacts__number:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 80px;
    width: 24px;
    height: 24px;
    background-image: url('../resources/ic_iphone.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.contacts__number {
    position: relative;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.8px;
    color:#121212;
}
.number__line:hover {
    opacity: 0.5;
    border-bottom: solid #121212;
}
.contacts__container {
    display: flex;
    flex-wrap: wrap;
    gap: 58px 104px;
}
.number__line { 
    color: #121212;
    text-decoration: none;
}
.contacts__mail:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 70px;
    width: 24px;
    height: 24px;
    background-image: url('../resources/ic_letter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.contacts__mail {
    position: relative;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -1.8px;
}
.mail__line:hover {
    opacity: 0.5;
    border-bottom: 2px solid #121212;
}
.mail__line {
    text-decoration: none;
    color: #121212;
}
.footer {
    padding: 50px 0 30px;
    background-color: #121212;
    width: 100%;
}
.footer__inner{
    font-size: 18px;
    letter-spacing: -0.54px;
    margin: 0 auto;
}
.nav {
    padding-bottom: 87px;
    justify-content: center;
    list-style-type: none;
    box-sizing: border-box;
    line-height: normal;
    display: flex;
}
.nav__link {
    padding: 10px 23px;
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #FFF;
    text-decoration: none;
    transition: all 0.7s;
}
.nav__link:hover {
    opacity: 50%;
}
.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom__title {
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    opacity: 0.5;
    text-decoration: none;
    color: #FFF ;
}
@import "hero.css";
@import "about.css";
@import "project.css";
@import "service.css";
@import "reviews.css";
@import "ex-project.css";
@import "gallery.css";
@import "contacts.css";
@import "footer.css";

@media (max-width: 961px) {
.hero {
    margin-bottom: 120px;
    }
.hero__title {  
    max-width: 802px;   
    padding-bottom: 30px;  
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.5px;
    }
.hero__text {
    font-size: 20px;
    letter-spacing: -0.6px;
    }
.about {
    margin-bottom: 120px;
    }
.about__title {
    margin-bottom: 30px;
    }
.about__text {
    max-width: 690px;
    font-weight: 400;
    font-size: 35px;
    line-height: normal;
}
.project {
    margin-bottom: 103px;
}
.project__item {
    margin-bottom: 80px;
}
.project__text {
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.75px;
}
.service {
    width: 100%;
    margin: 0 auto;
    max-width: cover;
    padding-bottom: 120px;
}
.service__item {
    padding-bottom: 80px;
}
.service__title {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
    text-transform: uppercase;
}
.service__price {
    padding: 6px 26px 5px 26px;
    top: 30px;
    left: 30px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.service__text {
    color: #FFF;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.75px;
}
.reviews {
    padding-top: 117px;
    padding-bottom: 120px;
}
.reviews__name {
    font-size: 35px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.05px;
}
.reviews__review {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
}
.ex-project__container {
    max-height: 536px;
}
.ex-project__naming {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.6px;
    color: #FFF;
}
.ex-project__text {
    padding-left: 35px;
    max-width: 377px;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.75px;
}
.contacts {
    padding-top: 120px;
    padding-bottom: 80px;
        }
.contacts__title {
    line-height: normal;
    margin-bottom: 74px;
}
.contacts__container {
    flex-wrap: nowrap;
}
.contacts__number {
    font-size: 45px;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.35px;
}
.contacts__mail {
    font-size: 45px;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.35px;
}
.footer__menu li {
    padding: 10px 30px;
}}
@media (max-width: 788px) {
    .contacts__container {
    flex-wrap: wrap;
}
}
@media (max-width: 576px) {
.hero {
    margin-bottom: 80px;
    }
.hero__title {
    font-style: normal;
    max-width: 346px;
    padding-bottom: 25px;
    font-size: 31px;
    font-weight: 400;
    line-height: 31.621px; 
    letter-spacing: -0.9px;
        }
.hero__img {
    max-height: 304px;
    }
.hero__text {
    max-width: 312px;
    left: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    }
.about {
    margin-bottom: 80px;
    }
.about__title {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
    }
.about__text {
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.66px;
    }
.about__btn {
    line-height: 51px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
    }
.project {
    margin-bottom: 144px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.66px;
}
.project__item {
    margin-bottom: 60px;
}
.project__title {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
}
.project__img {
    object-fit: cover;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    height: 250px;
}
.project__text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
}
.project__btn {
    line-height: 100px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.66px;
}
.service {
    padding-bottom: 80px;
    padding-top: 80px;
    width: 100%;
    margin: 0 auto;
    max-width: cover;
    }
.service__box {
    grid-template-columns: 1fr ;
    }
.service__price {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
}
.service__title {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
    }
.service__img {
    max-height: 240px;
    }
.service__item {
    padding-bottom: 60px;
    }
.service__text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
    }
.service__btn {
    text-align: center;
    line-height:100px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.66px;
    }
.contacts {
    padding-top: 80px;
    padding-bottom: 80px;
    }
.contacts__title {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.42px;
    }
.contacts__mail {
    font-size: 35px;
    line-height: 46px;
    }
.contacts__number {
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45.621px;
    letter-spacing: -1.05px;
    }
.reviews {
    padding: 80px 0 80px;
}
.reviews__name {
    font-size: 25px;
    letter-spacing: -0.75px;
    font-weight: 400;
    line-height: normal;
}
.reviews__review {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}
.reviews__container {
    display: inline-flex;
    }
.reviews__item {
    flex: auto; 
    }
.reviews__item:nth-last-child(1) {
    width: 100%;
    }
.ex-project {
    max-height: 408px;
}
.ex-project__naming {
    padding-top: 61px;
    padding-left: 0;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.42px;
    color: #FFF;
}
.ex-project__container {
height: 408px;
}
.ex-project__text {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.57px;
}
.footer__inner {
    padding-bottom: 41px;
    }
.nav {
    padding-bottom: 41px;
}
.reviews__title {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
}
.nav__link {
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.36px;
}
.footer {
    padding-top: 30px;
    padding-bottom: 26px;
}
.footer__nav {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.36px;
}
.bottom__title {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.39px;
}
}