html {
    scroll-behavior: smooth;
}
body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    line-height: 60px;
    color: #121212;
}
/*+ это меню навигации*/
.header__logo {
   width: 127px;
   height: 22px;
   
}
.header__nav {
    margin-bottom: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    font-size: 18px;
    letter-spacing: -0.54px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.header__wrap {
    display: flex;
}

.header__menu li {
    display: inline-block;
    color: #121212;
}
.header__menu li a {
    margin-left: 60px;
    text-decoration: none;
    transition: all .07s;
    color: #121212;
}
.header__menu li a:hover {
opacity: 50%;
text-decoration: underline;
}
/*+ 1 блок*/
.hero {
    margin-bottom: 112px;

}
.hero__title {
    padding-bottom: 88px;
    max-width: 956px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.8px;
    color: #121212;
}
.hero__wrapper {
    position: relative;
    height: 500px;
}
.hero__text { 
    position: absolute;
    z-index: 1;
    left: 37px;
    max-width: 430px;
    bottom: 40px;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    color: rgb(255, 255, 255);
}
.hero__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 30%;
}
/*+ 2 мини блок-карточка*/

.about__container {
    max-width: 1048px;
}
.about__title {
    margin-bottom: 30px;
}
.about__text {
    margin-bottom: 30px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    color: #121212;
}
.about__btn {
    max-width: 250px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: -0.6px;
    border-radius: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #AD1818;
    color: #FFFFFF;
    background-color: #AD1818;
}
.about {
    margin-bottom: 150px;
}
/*+Блок 3 - Список проектов*/
.project {
    margin-bottom: 150px;
}
.project__title {
    margin-bottom: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    color: #121212;
}
.project__container{
    margin-bottom: 30px;
    margin: 0 auto;
}
.project__text {
    margin-bottom: 15px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    color: #121212;
}
.project__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 450px;
}
.project__link {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
    color: #AD1818;
}
.project__item {
    margin-bottom: 90px;
}
.project__btn {
    width: 100%;
    height: 153px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150px;
    letter-spacing: -0.9px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #AD1818;
    color: #AD1818;
    background-color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}
.project__btn:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}
/*+Блок 4 - услуги*/
.service {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #121212;
}
.service__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 11px;
}
.service__title {
    margin-bottom: 34px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    color: #FFF;
}
.service__item {
    display: inline-block;
    position: relative;
    padding-bottom: 106px;
}
.service__item:nth-last-child(1){
    margin-bottom: 0px;
}
.service__price {
    position: absolute;
    padding: 7px 26px 6px 26px;
    top: 30px;
    left: 30px;
    font-family: 'Manrope' , sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.66px;
    color: #FFF;
    border: 1px solid #AD1818;
    background-color: #AD1818;
    border-radius: 5px;
}
.service__img {
    z-index: 1;
    width: 100%;
    object-fit: cover;
   object-position: 50% 50%;
    height: 389px;
}
.service__text {
    max-width: 344px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.9px;
    color: #FFF;
}
.service__btn {
    width: 100%;
    max-height: 153px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150px;
    letter-spacing: -0.9px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #AD1818;
    color: #FFFFFF;
    background-color: #AD1818;
    border-radius: 5px;
    cursor: pointer;
}
.service__btn:hover {
    color: #AD1818;
    background-color: #FFFFFF;
}
.reviews {
    display: block;
    padding-top: 150px;
    padding-bottom: 157px;
}
.reviews__container {
    display: flex;
    gap: 50px 50px;
    flex-wrap: wrap;
}
.reviews__item {
    flex: 1 1 33.333%;
    display: inline-block;
}
.reviews__item:nth-last-child(1) {
    flex: none;
    width: 70%;
}
.reviews__title {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    color: #121212;
}
.reviews__name {
    padding-bottom: 14px;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -1.35px; 
    color: #000;
}
.reviews__review {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.66px;
    color: #000;
    font-style: normal;
    line-height: normal;
}
.ex-project {
    background-image: url('../resources/Project-example.png');
    background-size: cover;
    background-size: no-repeat;
    background-position: 50%, 50%;
    height: 717px;
    margin: 0 auto;
}
.ex-project__container {
    position: relative;
    height: 717px;
}
.ex-project__text { 
    position: absolute;
    z-index: 1;
    bottom: 60px;
    max-width: 430px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    color: #FFF;
}
.contacts {
    padding-top: 150px;
    padding-bottom: 150px;
}
.contacts__title {
    margin-bottom: 74px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}
.contacts__number:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 80px;
    width: 24px;
    height: 24px;
    background-image: url('../resources/ic_iphone.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.contacts__number {
    position: relative;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.8px;
    color:#121212;
}
.contacts__number:hover {
    opacity: 0.5;
    border-bottom: solid #121212;
}
.contacts__container {
    display: flex;
    flex-wrap: wrap;
    gap: 58px 104px;
}
.number__line {
    color: #121212;
    text-decoration: none;
}
.contacts__mail:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 70px;
    width: 24px;
    height: 24px;
    background-image: url('../resources/ic_letter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.contacts__mail {
    position: relative;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -1.8px;
}
.contacts__mail:hover {
    opacity: 0.5;
    border-bottom: 2px solid #121212;
}
.mail__line {
    text-decoration: none;
    color: #121212;
}
.footer {
    padding: 60px 0 30px; 
    background-color: #121212;
    width: 100%;
}
.footer__nav {
    padding-bottom: 87px;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    letter-spacing: -0.54px;
}
.footer__menu {
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    line-height: normal;
}
.footer__menu li {
    display: inline-block;
    transition: all 07s;
    color: #121212;
}
.footer__menu li a {
    display: inline-block;
    text-decoration: none;
    transition: all .07s;
    color: #FFF;
    padding: 0 22px ;
}
.footer__menu li a:hover {
    opacity: 50%;
}
.footer__menu li a:first-child {
    margin: 0 auto;
}
.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom__title {
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    opacity: 0.5;
    text-decoration: none;
    color: #FFF ;
}
@media (max-width: 1151px) {
.about__text { 
    width: 628;
    font-size: 35px;
    font-weight: 400;
}}
@media (max-width: 928px) {
    .hero__title {
    font-size: 50px;
    line-height: 40px;
    }
    .contacts {
    padding-top: 120px;
    padding-bottom: 80px;
        }
.service {
    width: 100%;
    margin: 0 auto;
    max-width: cover;
    padding-bottom: 80px;
}
.service__price {
    padding: 6px 26px 5px 26px;
    top: 30px;
    left: 30px;
    font-family: 'Manrope' , sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.service__btn {
    text-align: center;
    
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.66px;
}
.service__item {
    padding-bottom: 80px;
}
.about__text {
    font-weight: 400;
    font-size: 35px;
    line-height: normal;
}}
@media (max-width: 576px) {
    .about__btn {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px
    }
.service__box {
    grid-template-columns: 1fr ;
    }
.hero__title {
    padding-bottom: 30px;
    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
    line-height: 31.621px; 
    }
    .contacts {
    padding-top: 80px;
    padding-bottom: 80px;
    }
.contacts__mail {
    font-size: 35px;
    line-height: 46px;
    }
.service {
    width: 100%;
    margin: 0 auto;
    max-width: cover;
    }
    .service__img {
        max-height: 240px;
    }
    .service__item {
        padding-bottom: 60px;
    }
.reviews__container {
    display: inline-flex;
    }
.reviews__item {
    flex: auto; 
    }
.reviews__item:nth-last-child(1) {
    width: 100%;
    }
.project__img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    }
.contacts__number {
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45.621px;
    letter-spacing: -1.05px;
    }
    .footer__nav {
        padding-bottom: 41px;
    }
}
@media (max-width: 414px) {
.about__title {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
    }
.project__title {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
}
.service__title {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
}
.reviews__title {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
}
.service__img {
    height: 240px;
}
}