html {
    scroll-behavior: smooth;
}
body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    line-height: 60px;
    color: #121212;
}
/*+ это меню навигации*/
.header__logo {
   width: 127px;
   height: 22px;
   
}
.header__nav {
    margin-bottom: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    font-size: 18px;
    letter-spacing: -0.54px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.header__wrap {
    display: flex;
}

.header__menu li {
    display: inline-block;
    color: #121212;
}
.header__menu li a {
    margin-left: 60px;
    text-decoration: none;
    transition: all .07s;
    color: #121212;
}
.header__menu li a:hover {
opacity: 50%;
text-decoration: underline;
}
/*+ 1 блок*/
.hero {
    margin-bottom: 112px;

}
.hero__title {
    padding-bottom: 88px;
    width: 956px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.8px;
    color: #121212;
}
.hero__wrapper {
    position: relative;
    width: 1150px;
    height: 500px;
}
.hero__text { 
    position: absolute;
    z-index: 1;
    left: 37px;
    width: 430px;
    bottom: 40px;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    color: rgb(255, 255, 255);
}
.hero__img {
    background-size: cover;
    width: 1150px;
    height: 500px;
}
/*+ 2 мини блок-карточка*/

.container__about {
    margin-bottom: 247px;
    padding-bottom: 30px;
    font-weight: 400px;
    font-size: 45px;
    line-height: 61.47px;
    border-width: 1048px;
    width: 1048px;
    height: 366px;
    top: 128px;
    letter-spacing: -1.35px;
    color: #121212;
}
.about__title {
    margin-bottom: 30px;
}
.about__text {
    margin-bottom: 30px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    color: #121212;
}
.about__btn {
    margin-top: 30px;
    width: 250px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: -0.6px;
    border-radius: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #AD1818;
    color: #FFFFFF;
    background-color: #AD1818;
}
.about {
    margin-bottom: 150px;
}
/*+Блок 3 - Список проектов*/
.project {
    margin-bottom: 150px;
}
.project__title {
    margin-bottom: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    color: #121212;
}
.project__container{
    margin-bottom: 30px;
    margin: 0 auto;
}
.project__text {
    margin-bottom: 15px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    color: #121212;
}
.project__img {
    background-size: cover;
    width: 1150px;
    height: 450px; 
}
.project__link {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
    color: #AD1818;
}
.project__item {
    margin-bottom: 90px;
}
.project__btn {
    width: 1150px;
    height: 153px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150px;
    letter-spacing: -0.9px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #AD1818;
    color: #AD1818;
    background-color: #FFFFFF;
}
.project__btn:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}
/*+Блок 4 - услуги*/
.service {
    width: 100%;
    max-width: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #121212;
}
@media (max-width: 1149px) {}
.service {
    width: 100%;
    margin: 0 auto;
    max-width: cover;
    
}
@media (max-width: 928px) {}
.service {
    width: 100%;
    margin: 0 auto;
    max-width: cover;
    
}
@media (max-width: 350px) {
    .service {
      width: 100%;
      margin: 0 auto;
      max-width: cover;
   
    }
  }
.service__title {
    margin-bottom: 34px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    color: #FFF;
 }
 .service__item {
    margin-bottom: 60px;
 }
 .service__item:nth-last-child(1){
    margin-bottom: 0px;
 }
 .service__img {
    width: 1150px;
    height: 270px;
 }
 .service__text {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    color: #FFF;
 }
 .ex-project {
    background-image: url('../resources/Project-example.png');
    background-size: cover;
    background-size: no-repeat;
    background-position: 50%, 50%;
    height: 717px;
    margin: 0 auto;
 }
 .ex-project__container {
    position: relative;
    height: 717px;
 }
 .ex-project__text { 
    position: absolute;
    z-index: 1;
    bottom: 60px;
    width: 430px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    color: #FFF;
 }
 .contacts {
    padding-top: 186px;
    padding-bottom: 160px;
 }
.contacts__title {
    margin-bottom: 32px;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}
.contacts__title:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 50px;
    width: 24px;
    height: 24px;
    background-image: url('../resources/ic_iphone.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.contacts__number {
    margin-bottom: 30px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 100% */
    letter-spacing: -1.8px;
    color:#121212;
}
.number__line {
    color: #121212;
    text-decoration: none;
}
.contacts__mail{
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 100% */
    letter-spacing: -1.8px;
    opacity: 0.5;
}
.mail__line {
    color: #121212;
    text-decoration: none;
    border-bottom: 2px solid #121212;
}
.footer {
    padding: 60px 0 30px; 
    background-color: #121212;
    width: 100%;
}
.footer__nav {
    padding-bottom: 87px;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    letter-spacing: -0.54px;
}
.footer__menu {
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    line-height: normal;
}
.footer__menu li {
    display: inline-block;
    transition: all 07s;
    color: #121212;
}
.footer__menu li a {
    display: inline-block;
    text-decoration: none;
    transition: all .07s;
    color: #FFF;
    padding: 0 22px ;
}
.footer__menu li a:hover {
    opacity: 50%;
}
.footer__menu li a:first-child {
    margin: 0 auto;
}
.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom__title {
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    opacity: 0.5;
    text-decoration: none;
    color: #FFF ;
}